
    <style>
      *{
          margin: 0;
          padding: 0;
          border: 0;
          max-width: 100%;
      }
      
      body{
          background-color: #151515;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          color: white;
      }
      
      .error{
          margin-top: 12%;
          text-align: center;
          font-size: 32px;
      }
      </style>
  
      <div class="error">
      <h2>Sajnáljük, de nincs jogod a tartalom megtekintéséhez.</h2>
      </div>